<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:14:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TC2_verifyLoginPage.launchBrowser()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:14:44</td>   <td>10392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_verifyLoginPage.createObjects()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&gt;&gt;createObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:14:44</td>   <td>10446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC2_verifyLoginPage.openUrl()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&gt;&gt;openUrl</td> 
<td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:14:44</td>   <td>10879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_verifyLoginPage.loginPageVerify()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">loginPageVerify</td> 
  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:15:07</td>   <td>33610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_verifyLoginPage.refreshPageAgain()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&lt;&lt;refreshPageAgain</td> 
<td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:15:07</td>   <td>33774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC2_verifyLoginPage.clearObjectsr()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&lt;&lt;clearObjectsr</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
<tr bgcolor="d07cbb">  <td>22/02/17 16:15:07</td>   <td>33777</td> <td>&nbsp;</td><td title="&lt;&lt;TC2_verifyLoginPage.closeBrowser()[pri:0, instance:Test_Classes.TC2_verifyLoginPage@78123e82]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1678046232</td>   <td></td> </tr>
</table>
