<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>homePageOptionsSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.buyShare()[pri:1, instance:Test_Classes.TC1_BuyShare@67c33749]">buyShare</td> 
  <td>main@1041365481</td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.checkHomepageOptions()[pri:2, instance:Test_Classes.TC1_BuyShare@67c33749]">checkHomepageOptions</td> 
  <td>main@1041365481</td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.clearObjects()[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&lt;&lt;clearObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>43</td> <td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.closeBrowser()[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:36:58</td>   <td>-2888</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.createObject()[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&gt;&gt;createObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1041365481</td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:36:54</td>   <td>-7126</td> <td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.launchBrowser(java.lang.String)[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1041365481</td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>37</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:36:58</td>   <td>-2819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1041365481</td>   <td></td> </tr>
<tr bgcolor="aa8588">  <td>22/01/17 11:37:01</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@67c33749]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1041365481</td>   <td></td> </tr>
</table>
