<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestProjectSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.buyShare()[pri:1, instance:Test_Classes.TC1_BuyShare@36b4cef0]">buyShare</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:42:53</td>   <td>151459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.buyShare()[pri:1, instance:Test_Classes.TC1_BuyShare@262b2c86]">buyShare</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:43</td>   <td>20566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.checkHomepageOptions()[pri:2, instance:Test_Classes.TC1_BuyShare@36b4cef0]">checkHomepageOptions</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:43:27</td>   <td>185145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1_BuyShare.checkHomepageOptions()[pri:2, instance:Test_Classes.TC1_BuyShare@262b2c86]">checkHomepageOptions</td> 
  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:55</td>   <td>32530</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.clearObjects()[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&lt;&lt;clearObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:43:43</td>   <td>200695</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.clearObjects()[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&lt;&lt;clearObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:55</td>   <td>32531</td> <td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.closeBrowser()[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:43:43</td>   <td>200696</td> <td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.closeBrowser()[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:39:54</td>   <td>-27568</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.createObject()[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&gt;&gt;createObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:41:57</td>   <td>95145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.createObject()[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&gt;&gt;createObject</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:39:04</td>   <td>-78166</td> <td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.launchBrowser(java.lang.String)[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:58</td>   <td>35768</td> <td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.launchBrowser(java.lang.String)[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:26</td>   <td>3890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:45</td>   <td>22931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:42:58</td>   <td>155905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:43:33</td>   <td>190603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC1_BuyShare.logOut(org.testng.ITestResult)[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&lt;&lt;logOut</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:39:56</td>   <td>-26057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:40:35</td>   <td>12924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@36b4cef0]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:41:57</td>   <td>95148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
<tr bgcolor="a583f8">  <td>20/12/04 11:43:07</td>   <td>165482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC1_BuyShare.loginToPage()[pri:0, instance:Test_Classes.TC1_BuyShare@262b2c86]">&gt;&gt;loginToPage</td> 
<td>&nbsp;</td>  <td>main@1429880200</td>   <td></td> </tr>
</table>
